
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800);

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

img.Tier{
max-width: 50;
max-height:50%;
}

body {
  background: #0;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  color:black;
  width: 100%;
}

h1 {
  color: black;
  font-size: 4em;
  text-align: center;

  margin-bottom: 0;
}

h2 {
  font-size: 1em;
  color: #fff;
  text-align: center;
  font-weight: 300;
  margin-top: 5px;
}

p.Error{
  color:red;
}

.App {
 text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.Email{
  color: #f99e1a;
  font-size: 1em;
  font-weight: lighter;
}
.Footer-logo{
  height: 25px;
  width: 25px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.4em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

    /* For mobile phones: */
  @media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : portrait) {
    h1{ font-size: 2em;}
  }
